openapi: 3.0.0

info:
    version: '1.0'
    title: 'LBAW Infra Web API'
    description: 'Web Resources Specification (A7) for Infra'

servers:
    -   url : http://lbaw2192.lbaw.fe.up.pt
        description : Server #Mudar


externalDocs:
    description: Find more info here
    url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2192/-/wikis/EAP

tags:
    -   name: 'M01: Authentication and User Profile'
    -   name: 'M02: Group'
    -   name: 'M03: User Content'
    -   name: 'M04: Notifications'
    -   name: 'M05: Administration and Static Pages'

paths:
  /welcome:
    get:
      operationId: R101
      summary: 'R101: Welcome Page'
      description: 'Provide login (Welcome) and register page. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK. Show welcome page.'
  /login:
    post:
      operationId: R102
      summary: 'R102: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        -   'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  minLength: 1
                password:
                  type: string
                  minLength: 1
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing login credentials'
          headers:
            Location:
              schema:
                  type: string
              examples:
                  302Success:
                      description: 'Succesful authentication. Redirecting to homepage'
                      value: '/homepage'
                  302Error:
                      description: 'Failed auth. Redirecting to welcome'
                      value: '/welcome'
  /logout:
    post: 
      operationId: R103
      summary: 'R103: Logout'
      description: 'Logout the user. Access: USR, ADM'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '302':
          description: 'Redirect after logout'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Logout succesful. Redirect to welcome.'
                  value: '/welcome'
  /register:
    get:
      operationId: R104
      summary: 'R104: Register'
      description: 'Provide signup page. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK. Show register page'
    post:
      operationId: R105
      summary: 'R105: Register'
      description: 'Processes new user registration. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                birthdate:
                  type: string
                profile_pic:
                  type: string
                cover_pic:
                  type: string
                priv_stat:
                  type: string
                  enum: [Public, Private]
              required:
                - name
                - email
                - password
                - password_confirmation
                - birthdate
                - priv_stat
      responses:
        '302':
          description: 'Redirect after processing new user'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Succesful registration. Redirect to groups.'
                  value: '/register/groups'
                302Failure:
                  description: 'Failed registration. Redirect to welcome.'
                  value: '/welcome'
  /register/groups:
    get:
      operationId: R106
      summary: 'R106: Groups Registration Page'
      description: 'Provide groups enrollment page for interests. Access: USR'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK.'
  /users/{id}:
    get:
      operationId: R107
      summary: 'R107: View user profile.'
      description: 'Show a user''s profile. Access: USR'
      tags:
        - 'M01: Authentication and User Profile'
      parameters:
        - in: path
          name: id
          description: User's ID
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Show user profile.'  
  /profile:
    get:
      operationId: R108
      summary: 'R108: User''s own profile page'
      description: 'Provide own profile page. Access: USR'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '302':
          description: 'Redirect to current user page'
  /profile/edit:
    get:
      operationId: R109
      summary: 'R109: Edit Profile'
      description: 'Show edit profile page. Access: OWN'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK. Show edit page.'
    patch:
      operationId: R110
      summary: 'R110: Edit User Profile Action'
      description: 'Process the edition of user information. Access: OWN.'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                birthdate:
                  type: string
                profile_pic:
                  type: string
                cover_pic:
                  type: string
                priv_stat:
                  type: string
                  enum: [Public, Private]
      responses:
        '302':
          description: 'Redirect to edit profile page'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Success. Redirect to edit profile.'
                  value: '/profile/edit'
                302Error:
                  description: 'Failed. Redirect to edit form'
                  value: '/profile/edit'
  /user_content/{id}:
        get:
            operationId: R301
            summary: 'R301: View User Content Page'
            description: 'Show user content page. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User content ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: 'OK'
  /api/user_content:
        get:
            operationId: R302
            summary: 'R302: Get All User Content'
            description: 'Get All User Content. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: query
                  name: group_id
                  description: 'Group ID'
                  schema:
                    type: integer
                - in: query
                  name: creator_id
                  description: 'Creator ID'
                  schema:
                    type: integer
                - in: query
                  name: text
                  description: 'Text Query'
                  schema:
                    type: string
                  required: false
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                              type: array
                              items:
                                $ref: '#/components/schemas/User_content' #???
        put:
            operationId: R303
            summary: 'R303: Add new User Content'
            description: 'Add new User Content. Access: USR'
            tags:
                - 'M03: User Content'
            requestBody:
                required: true
                content:
                  application/json:
                      schema:
                        type: object
                        properties:
                            creator_id:
                              type: integer
                            text:
                              type: string
                            timestamp:
                              type: string
                            images:
                              type: array
                              items:
                                type: string
                        required:
                            - creator_id
                            - text
            responses:
                '201':
                    $ref: '#/components/responses/create'
                '403':
                    description: 'Access Forbidden'
  /api/user_content/{id}:
        get:
            operationId: R304
            summary: 'R304: Get User Content'
            description: 'Get User Content. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User_content'
                '404':
                    description: Failure
        delete:
            operationId: R305
            summary: 'R305: Delete User Content'
            description: 'Delete User Content. Access: OWN MOD ADM'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    $ref: '#/components/responses/delete'
                '404':
                    $ref: '#/components/responses/not_found'
        patch:
            operationId: R306
            summary: 'R306: Update User Content'
            description: 'Update User Content. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
            requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                          creator_id:
                            type: integer
                          text:
                            type: string
                          timestamp:
                            type: string
                          images:
                            type: array
                          items:
                            type: string
                      required:
                          - creator_id
                          - text
            responses:
                '200':
                    $ref: '#/components/responses/update'
                '404':
                    $ref: '#/components/responses/not_found'
  /api/user_content/posts/{id}:
        get:
            operationId: R307
            summary: 'R307: Get User Content Posts'
            description: 'Get User Content Posts. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: Post ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Post'
                '404':
                    $ref: '#/components/responses/not_found'
  /api/user_content/comments/{id}:
        get:
            operationId: R308
            summary: 'R308: Get User Content Comments'
            description: 'Get User Content Comments. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: Comment ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Comment'
                '404':
                    $ref: '#/components/responses/not_found'
  /api/user_content/{id}/likes:
        get:
            operationId: R3
            summary: 'R3: Get User Content Likes'
            description: 'Get User Content Likes. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                              type: array
                              items:
                                type: object
                                properties:
                                    user_id:
                                        $ref: '#/components/schemas/User'
                '404':
                    description: User Content Not Found.
  /api/user_content/{id}/shares:
        get:
            operationId: R3
            summary: 'R3: Get User Content Shares'
            description: 'Get User Content Shares. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Share'
                '404':
                    $ref: '#/components/responses/not_found'
  /api/user_content/{id}/shares/{id_share}:
        delete:
            operationId: R3
            summary: 'R3: Delete User Content Share'
            description: 'Delete User Content Share. Access: OWN MOD ADM'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
                - in: path
                  name: id_share
                  description: Share ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    $ref: '#/components/responses/delete'
                '404':
                    $ref: '#/components/responses/not_found'
  
  /notifications/post:
    get:
      operationId: R401
      summary: 'R401: Post Notifications'
      description: 'Get Post Notifications. Access: OWN'
      tags:
        - 'M04: Notifications'
      parameters:
        - in: query
          name: id
          schema:
            type: integer
          description: Post ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  likes:
                    type: array
                    items:
                      $ref: '#/components/schemas/LikeNotifications'
                  comments:
                    type: array
                    items:
                      $ref: '#/components/schemas/CommentNotifications'
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/TagNotifications'
    delete:
      operationId: R402
      summary: 'R402: Delete Post Notifications'
      description: 'Delete Post Notifications. Access: OWN'
      tags:
        - 'M04: Notifications'
      parameters:
        - in: query
          name: id
          description: Post ID
          schema:
            type: integer
      responses: TODO
  /notifications/request:
    get:
      operationId: R403
      summary: 'R403: Get Request Notification'
      description: 'Provide request notifications such as Friend or Group Request Notifications'
      tags:
        - 'M04: Notifications'
      parameters:
        - in: query
          name: id
          schema:
            type: integer
          description: Request ID
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  friendRequest:
                    type: array
                    items:
                      $ref: '#/components/schemas/FriendRequestNotification'
                  groupRequest:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupRequestNotification'
    delete:
      operationId: R404
      summary: 'R404: Delete Request Notification'
      description: ' Delete Request Notifications such as Friend or Group Request Notifications'
      tags:
        - 'M04: Notifications'
      responses: TODO
  /notifications/invite:
    get:
      operationId: R405
      summary: 'R405: Get Invite Notifications'
      description: 'Get Invite Notifications from Groups'
      tags:
        - 'M04: Notifications'
      parameters:
        - in: query
          name: id
          schema:
            type: integer
          description: Request ID
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupInviteNotification'
    delete: 
      operationId: R406
      summary: 'R406: Delete Invite Notifications'
      description: 'Delete Invite Notifications from Groups'
      responses:
        '200':
        





  

components:
  schemas:
    LikeNotifications:
      type: object
      properties:
        id:
          type: integer
        "timestamp":
          type: string
        seen:
          type: boolean
        sender_id:
          type: integer
        content_id:
          type: integer
      example:
        id: 0
        "timestamp": '2021-12-10 12:03'
        seen: false
        sender_id: 1
        content_id: 3
    CommentNotifications:
      type: object
      properties:
        id: 
          type: integer
        "timestamp":
          type: string
        seen:
          type: boolean
        comment_id:
          type: integer
      example:
        id: 0
        "timestamp": '2021-12-10 11:41'
        seen: false
        comment_id: 1
    TagNotifications:
      type: object
      properties:
        id:
          type: integer
        "timestamp":
          type: string
        seen: 
          type: boolean
        content_id:
          type: integer
        target_id:
          type: integer
      example:
        id: 1
        "timestamp": '2021-12-10 12:05'
        seen: false
        content_id: 1
        target_id: 3

    ShareNotification:
      type: object
      properties:
        id:
          type: integer
        "timestamp":
          type: string
        seen:
          type: boolean
        share_id:
          type: integer
      example:
        id: 1
        "timestamp": '2021-12-10 12:07'
        seen: true
        share_id: 2

    FriendRequestNotification:
      type: object
      properties:
        id:
          type: integer
        "timestamp":
          type: string
        seen:
          type: boolean
        sender_id:
          type: integer
        target_id:
          type: integer
      example:
        id: 1
        "timestamp": '2021-12-13 16:22'
        seen: false
        sender_id: 18
        target_id: 2
    
    GroupRequestNotification:
      type: object
      properties:
        id:
          type: integer
        "timestamp":
          type: string
        seen:
          type: boolean
        group_id:
          type: integer
        "user_id":
          type: integer
      example:
        id: 2
        "timestamp": '2021-12-13 16:26'
        seen: false
        group_id: 6
        "user_id": 3
    
    GroupInviteNotification:
      type: object
      properties:
        id:
          type: integer
        "timestamp":
          type: string
        seen:
          type: boolean
        group_id:
          type: integer
        "user_id":
          type: integer
      example:
        id: 1
        "timestamp": '2021-12-13 16:29'
        seen: false
        group_id: 3
        "user_id": 1
        
