openapi: 3.0.0

info:
    version: '1.0'
    title: 'LBAW Infra Web API'
    description: 'Web Resources Specification (A7) for Infra'

servers:
    -   url : http://lbaw2192.lbaw.fe.up.pt
        description : Server #Mudar

externalDocs:
    description: Find more info here
    url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2192/-/wikis/EAP

tags:
    -   name: 'M01: Authentication and User Profile'
    -   name: 'M02: Group'
    -   name: 'M03: User Content'
    -   name: 'M04: Notifications'
    -   name: 'M05: Administration and Static Pages'

paths:
  /welcome:
    get:
      operationId: R101
      summary: 'R101: Welcome Page'
      description: 'Provide login (Welcome) and register page. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK. Show welcome page.'
  /login:
    post:
      operationId: R102
      summary: 'R102: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        -   'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  minLength: 1
                password:
                  type: string
                  minLength: 1
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing login credentials'
          headers:
            Location:
              schema:
                  type: string
              examples:
                  302Success:
                      description: 'Succesful authentication. Redirecting to homepage'
                      value: '/homepage'
                  302Error:
                      description: 'Failed auth. Redirecting to welcome'
                      value: '/welcome'
  /logout:
    post: 
      operationId: R103
      summary: 'R103: Logout'
      description: 'Logout the user. Access: USR, ADM'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '302':
          description: 'Redirect after logout'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Logout succesful. Redirect to welcome.'
                  value: '/welcome'
  /register:
    get:
      operationId: R104
      summary: 'R104: Register'
      description: 'Provide signup page. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK. Show register page'
    post:
      operationId: R105
      summary: 'R105: Register'
      description: 'Processes new user registration. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                birthdate:
                  type: string
                profile_pic:
                  type: string
                cover_pic:
                  type: string
                priv_stat:
                  type: string
                  enum: [Public, Private]
              required:
                - name
                - email
                - password
                - password_confirmation
                - birthdate
                - priv_stat
      responses:
        '302':
          description: 'Redirect after processing new user'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Succesful registration. Redirect to groups.'
                  value: '/register/groups'
                302Failure:
                  description: 'Failed registration. Redirect to welcome.'
                  value: '/welcome'
  /register/groups:
    get:
      operationId: R106
      summary: 'R106: Groups Registration Page'
      description: 'Provide groups enrollment page for interests. Access: USR'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK.'
  /users/{id}:
    get:
      operationId: R107
      summary: 'R107: View user profile.'
      description: 'Show a user''s profile. Access: USR'
      tags:
        - 'M01: Authentication and User Profile'
      parameters:
        - in: path
          name: id
          description: User's ID
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Show user profile.'  
  /profile:
    get:
      operationId: R108
      summary: 'R108: User''s own profile page'
      description: 'Provide own profile page. Access: USR'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '302':
          description: 'Redirect to current user page'
  /profile/edit:
    get:
      operationId: R109
      summary: 'R109: Edit Profile'
      description: 'Show edit profile page. Access: OWN'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK. Show edit page.'
    patch:
      operationId: R110
      summary: 'R110: Edit User Profile Action'
      description: 'Process the edition of user information. Access: OWN.'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                birthdate:
                  type: string
                profile_pic:
                  type: string
                cover_pic:
                  type: string
                priv_stat:
                  type: string
                  enum: [Public, Private]
      responses:
        '302':
          description: 'Redirect to edit profile page'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Success. Redirect to edit profile.'
                  value: '/profile/edit'
                302Error:
                  description: 'Failed. Redirect to edit form'
                  value: '/profile/edit'
  /user_content/{id}:
        get:
            operationId: R301
            summary: 'R301: View User Content Page'
            description: 'Show user content page. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User content ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: 'OK'
  /api/user_content:
        get:
            operationId: R302
            summary: 'R302: Get All User Content'
            description: 'Get All User Content. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: query
                  name: group_id
                  description: 'Group ID'
                  schema:
                    type: integer
                - in: query
                  name: creator_id
                  description: 'Creator ID'
                  schema:
                    type: integer
                - in: query
                  name: text
                  description: 'Text Query'
                  schema:
                    type: string
                  required: false
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                              type: array
                              items:
                                $ref: '#/components/schemas/User_content' #???
        put:
            operationId: R303
            summary: 'R303: Add new User Content'
            description: 'Add new User Content. Access: USR'
            tags:
                - 'M03: User Content'
            requestBody:
                required: true
                content:
                application/json:
                    schema:
                    type: object
                    properties:
                        creator_id:
                          type: integer
                        text:
                          type: string
                        timestamp:
                          type: string
                        images:
                          type: array
                          items:
                            type: string
                    required:
                        - creator_id
                        - text
            responses:
                '201':
                    $ref: '#/components/responses/create'
                '403':
                    description: 'Access Forbidden'
  /api/user_content/{id}:
        get:
            operationId: R304
            summary: 'R304: Get User Content'
            description: 'Get User Content. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User_content'
                '404':
                    description: Failure
        delete:
            operationId: R305
            summary: 'R305: Delete User Content'
            description: 'Delete User Content. Access: OWN MOD ADM'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    $ref: '#/components/responses/delete'
                '404':
                    $ref: '#/components/responses/not_found'
        patch:
            operationId: R306
            summary: 'R306: Update User Content'
            description: 'Update User Content. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
            requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                    properties:
                        creator_id:
                          type: integer
                        text:
                          type: string
                        timestamp:
                          type: string
                        images:
                          type: array
                        items:
                          type: string
                    required:
                        - creator_id
                        - text
            responses:
                '200':
                    $ref: '#/components/responses/update'
                '404':
                    $ref: '#/components/responses/not_found'
  /api/user_content/posts/{id}:
        get:
            operationId: R307
            summary: 'R307: Get User Content Post'
            description: 'Get User Content Post. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: Post ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Post'
                '404':
                    $ref: '#/components/responses/not_found'
        delete:
          operationId: R308
          summary: 'R308: Delete User Content Post'
          description: 'Delete User Content Post. Access: OWN MOD ADM'
          tags:
              - 'M03: User Content'
          parameters:
            - in: path
              name: id
              description: Post ID
          schema:
            type: integer
          required: true
          responses:
            '200':
              $ref: '#/components/responses/delete'
            '404':
              $ref: '#/components/responses/not_found'
        patch:
          operationId: R309
          summary: 'R309: Update User Content Post'
          description: 'Update User Content Post. Access: USR'
          tags:
            - 'M03: User Content'
          parameters:
            - in: path
              name: id
              description: Post ID
              schema:
                type: integer
              required: true
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: integer
                    pic_1:
                      type: integer
                    pic_2:
                      type: integer
                    pic_3:
                      type: integer
                    pic_4:
                      type: integer
                    pic_5:
                      type: integer
                  required:
                    - id
          responses:
            '200':
              $ref: '#/components/responses/update'
            '404':
              $ref: '#/components/responses/not_found'
  /api/user_content/{id}/comments:
        get:
            operationId: R310
            summary: 'R310: Get User Content Comments'
            description: 'Get User Content Comments. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: Comment ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Comment'
                '404':
                    $ref: '#/components/responses/not_found'
        put:
          operationId: R311
          summary: 'R311: Add User Content Comment'
          description: 'Add User Content Comment. Access: USR'
          tags:
            - 'M03: User Content'
          parameters:
            - in: path
              name: id
              description: User Content ID
              schema:
                type: integer
              required: true
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: integer
                  required:
                    - id
                  example:
                    id: 12
          responses:
            '201':
              $ref: '#/components/responses/create'
            '404':
              $ref: '#/components/responses/not_found'
  /api/user_content/{id}/comments/{id_comment}:
    get:
      operationId: R312
      summary: 'R312: Get User Content Comment'
      description: 'Get User Content Comment. Access: USR'
      tags:
        - 'M03: User Content'
      parameters:
        - in: path
          name: id
          description: User Content ID
          schema:
            type: integer
          required: true
        - in: path
          name: id_comment
          description: Comment ID
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '404':
          description: Failure
    delete:
      operationId: R313
      summary: 'R313: Delete User Content Comment'
      description: 'Delete User Content Comment. Access: OWN MOD ADM'
      tags:
        - 'M03: User Content'
      parameters:
        - in: path
          name: id
          description: User Content ID
          schema:
            type: integer
          required: true
        - in: path
          name: id_comment
          description: Comment ID
          schema:
            type: integer
          required: true
      responses:
        '200':
          $ref: '#/components/responses/delete'
        '404':
          $ref: '#/components/responses/not_found'
  /api/user_content/{id}/likes:
        get:
            operationId: R314
            summary: 'R314: Get User Content Likes'
            description: 'Get User Content Likes. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                              type: array
                              items:
                                type: object
                                properties:
                                    user_id:
                                        $ref: '#/components/schemas/User'
                '404':
                    description: User Content Not Found.
        put:
          operationId: R315
          summary: 'R315: Add User Content Like'
          description: 'Add User Content Like. Access: USR'
          tags:
            - 'M03: User Content'
          parameters:
            - in: path
              name: id
              description: User Content ID
              schema:
                type: integer
              required: true
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    user_id:
                      type: integer
                  required:
                    - user_id
                  example:
                    id: 4
                    user_id: 7
          responses:
            '201':
              description: Success
              content:
                text/plain:
                  schema:
                    type: string
                  examples:
                    201Success:
                      description: Success adding user content like.
                      value: Success
                    201Failure:
                      description: Failure adding user content like.
                      value: Failure
            '404':
              description: User Content Not Found.
        delete:
          operationId: R316
          summary: 'R316: Delete User Content Like'
          description: 'Delete User Content Like. Access: OWN ADM'
          tags:
            - 'M03: User Content'
          parameters:
            - in: path
              name: id
              description: User Content ID
              schema:
                type: integer
              required: true
          responses:
            '200':
              $ref: '#/components/responses/delete'
            '404':
              $ref: '#/components/responses/not_found'
  /api/user_content/{id}/shares:
        get:
            operationId: R317
            summary: 'R317: Get User Content Shares'
            description: 'Get User Content Shares. Access: USR'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Share'
                '404':
                    $ref: '#/components/responses/not_found'
        put:
          operationId: R318
          summary: 'R318: Add User Content Share'
          description: 'Add User Content Share. Access: USR'
          tags:
            - 'M03: User Content'
          parameters:
            - in: path
              name: id
              description: User Content ID
              schema:
                type: integer
              required: true
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    post_id:
                      type: integer
                    id:
                      type: integer
                  required:
                    - post_id
                    - id
                  example:
                    post_id: 2
                    id: 5
          responses:
            '201':
              $ref: '#/components/responses/create'
            '404':
              $ref: '#/components/responses/not_found'
  /api/user_content/{id}/shares/{id_share}:
        delete:
            operationId: R319
            summary: 'R319: Delete User Content Share'
            description: 'Delete User Content Share. Access: OWN MOD ADM'
            tags:
                - 'M03: User Content'
            parameters:
                - in: path
                  name: id
                  description: User Content ID
                  schema:
                    type: integer
                  required: true
                - in: path
                  name: id_share
                  description: Share ID
                  schema:
                    type: integer
                  required: true
            responses:
                '200':
                    $ref: '#/components/responses/delete'
                '404':
                    $ref: '#/components/responses/not_found'
