openapi: 3.0.0

info:
    version: '1.0'
    title: 'LBAW Infra Web API'
    description: 'Web Resources Specification (A7) for Infra'

servers:
    -   url : http://lbaw2192.lbaw.fe.up.pt
        description : Server #Mudar

externalDocs:
    description: Find more info here
    url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2192/-/wikis/EAP

tags:
    -   name: 'M01: Authentication and User Profile'
    -   name: 'M02: Group'
    -   name: 'M03: User Content'
    -   name: 'M04: Notifications'
    -   name: 'M05: Administration and Static Pages'

paths:
  /welcome:
    get:
      operationId: R101
      summary: 'R101: Welcome Page'
      description: 'Provide login (Welcome) and register page. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK. Show welcome page.'
  /login:
    post:
      operationId: R102
      summary: 'R102: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        -   'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  minLength: 1
                password:
                  type: string
                  minLength: 1
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing login credentials'
          headers:
            Location:
              schema:
                  type: string
              examples:
                  302Success:
                      description: 'Succesful authentication. Redirecting to homepage'
                      value: '/homepage'
                  302Error:
                      description: 'Failed auth. Redirecting to welcome'
                      value: '/welcome'
  /logout:
    post: 
      operationId: R103
      summary: 'R103: Logout'
      description: 'Logout the user. Access: USR, ADM'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '302':
          description: 'Redirect after logout'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Logout succesful. Redirect to welcome.'
                  value: '/welcome'
  /register:
    get:
      operationId: R104
      summary: 'R104: Register'
      description: 'Provide signup page. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK. Show register page'
    post:
      operationId: R105
      summary: 'R105: Register'
      description: 'Processes new user registration. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                birthdate:
                  type: string
                profile_pic:
                  type: string
                cover_pic:
                  type: string
                priv_stat:
                  type: string
                  enum: [Public, Private]
              required:
                - name
                - email
                - password
                - password_confirmation
                - birthdate
                - priv_stat
      responses:
        '302':
          description: 'Redirect after processing new user'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Succesful registration. Redirect to groups.'
                  value: '/register/groups'
                302Failure:
                  description: 'Failed registration. Redirect to welcome.'
                  value: '/welcome'
  /register/groups:
    get:
      operationId: R106
      summary: 'R106: Groups Registration Page'
      description: 'Provide groups enrollment page for interests. Access: USR'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK.'
  /users/{id}:
    get:
      operationId: R107
      summary: 'R107: View user profile.'
      description: 'Show a user''s profile. Access: USR'
      tags:
        - 'M01: Authentication and User Profile'
      parameters:
        - in: path
          name: id
          description: User's ID
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Show user profile.'  
  /profile:
    get:
      operationId: R108
      summary: 'R108: User''s own profile page'
      description: 'Provide own profile page. Access: USR'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '302':
          description: 'Redirect to current user page'
  /profile/edit:
    get:
      operationId: R109
      summary: 'R109: Edit Profile'
      description: 'Show edit profile page. Access: OWN'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'OK. Show edit page.'
    patch:
      operationId: R110
      summary: 'R110: Edit User Profile Action'
      description: 'Process the edition of user information. Access: OWN.'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                birthdate:
                  type: string
                profile_pic:
                  type: string
                cover_pic:
                  type: string
                priv_stat:
                  type: string
                  enum: [Public, Private]
      responses:
        '302':
          description: 'Redirect to edit profile page'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Success. Redirect to edit profile.'
                  value: '/profile/edit'
                302Error:
                  description: 'Failed. Redirect to edit form'
                  value: '/profile/edit'
                
